<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list" ng-submit="login()">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="mainData.username" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="mainData.password" placeholder="">
                </label>
            </ion-list>
            <button type="submit" class="button button-stable button-block">Log in</button>
            <p>{{message}}</p>
        </form>
    </ion-content>
</ion-view>
