<ion-view title="The App">
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-header">
<div class="list card">

<div class="item item-icon-left assertive" href="">
  <i class="icon ion-paper-airplane"></i>
  <h2>Welcome</h2>
  <p>{{username}}</p>
   
</div>
<p>asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdasasdads
   asdasd
   asdasd
   asdasd  \n
   dasdasasdadsasdads
   asdasd
   asdasd
   asdasd  \n
   dasdasasdadsasdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   dasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   dasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   dasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   asdads
   asdasd
   asdasd
   asdasd  \n
   dasdas
   
   </p>
</div>
        <form ng-submit="logout()">
          <button type="submit" class="button button-stable button-block">Log Out</button>
        </form>
    </ion-content>
</ion-view>
